@media screen and (min-width: 480px) {
.item-card-large {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  border-radius: 5px;
  padding: 1rem;
  width: 38rem;
  height: 37rem;
  position: relative;
  margin: 1rem;
}

.info-box {
  padding-left: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.item-name-large {
  color: black;
  font-weight: bold;
  padding-top: 0.5rem;
  margin: 0;
}
}

@media screen and (max-width: 480px) {
  .item-card-large {
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    border-radius: 5px;
    padding: 1rem;
    width: 18rem;
    height: auto;
    position: relative;
    margin: 0rem 0rem 2rem 0rem;
  }

  .info-holder{
    flex-wrap:wrap;
  }

  .info-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
  }

  .item-name-large {
    color: black;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin: 0;
  }

}


.item-card-large:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



.item-distance-large {
  padding-top: 0.5rem;
  margin: 0;
}

.item-price-large {
  font-weight: bold;
}

.item-button-large {
  background-color: rgb(193, 215, 158);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.3s;
  display: block;
  width: 8rem;
  height: 3rem;
  margin: 1rem;
}

.item-button-large:hover {
  background-color: rgb(155, 185, 107);
}

.seller-image-large {
  float: left;
  border-radius: 10rem;
  width: 2rem;
  height: 2rem;
}

.seller-name-large {
  float: left;
  padding-left: 0.5rem;
  position: relative;
  bottom: 0.5rem;
  padding-right: 2rem;
}

.labels-large {
  color: black;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin: 0;
}

.card-body-large {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.item-tag-image {
  width: 2rem;
  height: 2rem;
  float: left;
}

.item-tag {
  float: left;
  padding-left: 0.5rem;
  position: relative;
  bottom: 0.5rem;
}

.info-div {
  width: 8rem;
}